.custom-checkbox-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #a7a7a7;
  height: 33px;
  padding: 4px 11px;
  border-radius: 7px;
  .custom-checkbox .ant-checkbox .ant-checkbox-inner {
    border: 1px solid #a7a7a7;
    border-radius: 10px;
  }
  .custom-checkbox .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #22d1d1;
    border: 1px solid #22d1d1;
  }
  .name-icon-container {
    display: flex;
    cursor: default;
    .icon-image-container {
      width: 23px;
      margin-right: 6px;
      svg {
        width: 23px;
        height: 23px;
      }
    }

    .text-container {
      padding: 0 5px;
    }
  }
}
