$break-mobile: 426px;
$break-tablet: 768px;

// Fonts
$open-sans: "Open Sans";
$lato: "Lato";
/*
  Breakpoints derived from Ant Design
  https://ant.design/components/layout/#breakpoint-width
*/

$break-xs: "480px";
$break-sm: "576px";
$break-md: "768px";
$break-lg: "992px";
$break-xl: "1200px";
$break-xxl: "1600px";
