

.mycalls-page-root {
    .dashboard-add-button {
      border-radius: 50px ;
      height: 100px ;
      width: 100px ;
      font-size: 2em ;
      background: rgb(238, 161, 107);
      border-color: rgb(238, 161, 107);
  
      span {
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
      }
  }
  .btn {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(238, 161, 107);;
    color: white;
    text-align: center;
    cursor: pointer;
  }
.site-card-border-less-wrapper {
    padding: 30px;
    // background: #ececec;
   
    .image-container {
        height: 60px;
        width: 60px;
  
        .image {
          border-radius: 50%;
          height: 60px;
          width: 60px;
        }
      }
  
      .image-right-box {
        padding-left: 8px;
        .title {
          font-weight: bold;
          font-size: 1.25em;
          .text {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            padding-left: 5px;
          }
        }
      }
     

  }
}